# Ignore Python virtual environments
venv/
env/

# Ignore data files
data/

# Ignore generated artifacts and outputs
artifacts/
output/
submissions/

# Ignore Jupyter and Python cache
.ipynb_checkpoints/
__pycache__/
*.pyc

# Ignore system files
.DS_Store